<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{common/layer}">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h5>管理员管理</h5>
			<div style="float: left">
				<img style="width: 400px;height: 300px;" th:src="@{${manager.getMgrImg()}}" src="" alt="">
			</div>
			<div style="margin-left: 500px">
				ID：<span th:text="${manager.getMgrId()}"></span><br><br>
				姓名：<span th:text="${manager.getMgrName()}"></span><br><br>
				电话：<span th:text="${manager.getMgrTel()}"></span><br><br>
				帐号：<span th:text="${manager.getMgrAccount()}"></span><br><br>
			</div>
			<a style="margin-left: 800px" id="back" class="layui-btn layui-btn-danger" href="/manager/select-list">返回</a>
		</div>
	</body>
</html>